body{
  background-color: #034789;
}
.navbar {

  overflow: hidden;
  
  font-family: Arial;
}



/* Links inside the navbar */
.navbar h1 {
 
   font-style:sans-serif;
 margin-top:-4px ;
  font-variant-ligatures: normanpml;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  margin-left: 200px;
  font-stretch: normal;    
  float: left;
  font-size: 40px;
  color:#c6c6c6;
  margin-top: 20px;
  
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 1170px;
  margin-top: -50px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color: #f8f9f8;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.tst {
  font-size: 20px;
  border: none;
  outline: none;
  color: #f8f9f8;
  position: absolute;
  top: 45px;
  right: 200px;
  font-size: 18px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(136, 232, 245);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  color: rgb(127, 124, 124);
  position: absolute;
  right: 10;
  background-color: #f8f9f8;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px #034789;
  z-index: 1;
  outline: #0b7dda;
  font-size: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #034789;
  padding: 20px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #f8f9f8;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #51d8af;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
form.example input[type=text] {
  padding: 7px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 14%;
  background: #9f9b9b;
  margin-top: 15px;
  margin-right:130px ;

}

/* Style the submit button */
form.example button {
  float: right;
  width: 8%;
  padding: 7px;
  background: #ef1717;
  color: white;
  font-size: 17px;
  border: 1px solid rgb(77, 71, 203);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 15px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.dashboard h1{

  color:#e8f0f5;
  font-size:20px;
  margin-top: 1px;
  font-family: Oswald;
  margin-left: 200px;
  
}
.dashboard h2{
  
color:#e8f0f5;
font-size:15px;
font-family: Oswald;
margin-left: 200px;
}
.tprogress {
  background:#394d6d;
  color: white;
  padding: 2rem;
  width: 270px;
  margin-top: 50px;
  margin-left: 250px;
}
.tprogress i{
  font-size: 15px;
margin-left: 20px;
}
.tprogress h1{
  font-size: 12px;
  font: 1em sans-serif;
}
.trepairs{
  background:#394d6d;
  color: white;
  padding: 2rem;
  width: 270px;
  margin-left: 525px;
  margin-top:-135px;

}
.trepairs i{
  font-size: 15px;
margin-left: 3px;
}
.trepairs h1{
  font-size: 12px;
  font: 1em sans-serif;

}
.tPending{

  background:#394d6d;
  color: white;
  padding: 2rem;
  width: 250px; 
  margin-top: -135px;
  margin-left: 800px;
}
.tPending i{
  font-size: 15px;
margin-left: 5px;
}
.tPending h1{
  font-size: 12px;
  font: 1em sans-serif;

}

.tcompelete{

  background:#394d6d;
  color: white;
  padding: 2rem;
  width: 270px;
  margin-left: 1060px;  
  margin-top: -135px;
}.tcompelete i{
  font-size: 15px;
margin-left: 2px;
}
.tcompelete h1{
  font-size: 12px;
  font: 1em sans-serif;

}




